.TodoTemplate{
    width: 512px;
    margin: 2rem auto 0 auto;
    border-radius:4px;
    overflow:hidden;
}

.app-title{
    background: #22b8cf;
    color:#fff;
    height: 4rem;
    font-size:1.5rem;
    display:flex;
    align-items:center;
    justify-content: center;    
}

.content{
    background:#fff;
}